*{
  color: white;

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
.card{
  width:300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #333;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
}
.card button{
  padding: 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}