@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

input,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  background-color: antiquewhite;
}